
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/project/{{project.id}}">{{project.recipient}}</a>
    </h2>
    <p>
      <span for="img" aria-label="">Occasion:</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{project.occasion}}</span>
      
    </p>
    <p> Budget: {{project.budget}}</p>
  </div>
  <div class="col-md-7">
    {{!-- <p>
      {{project.name}}
    </p> --}}
  </div>
</div>
{{/each}}
